@model HomeViewModel

<div id="carouselImages" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        @for (var i = 0; i < 4; i++)
        {
            <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="@i" class="@(i == 0 ? "active" : "")" aria-label="Slide @i " aria-current="@(i == 0 ? "true" : "")"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (var i = 0; i < 4; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img src="@Model.PromotedItem.OrderBy(i=>i.Id).ElementAt(i).ImageUrl" class="d-block w-100 carousel-image" alt="Carousel image @i" >
            </div>
        }
    </div>
</div>

<div class="text-center">
    <img src="PassOn.svg" class="logo-mark mx-auto" />
    <h1>Promoted Item</h1>
    <h5>You might like these items below</h5>

    <div class="row promoted-item">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model.PromotedItem)
            {
                <partial name="_ItemCard" model="item"/>
            }
        </div>

    </div>
</div>
