@model MyOrderViewModel

<ul class="dropdown-menu" aria-labelledby="nav-dropdown">
	@foreach(var order in Model.myOrders){
		<li>
			<h4>Order Id: @order.Id</h4>
		</li>
		@foreach (OrderDetail od in @order.OrderDetails){
		<li>
			<div class=" row ">
				<div class = "col-md-6">
					<img scr =@od.Item.ImageThumbnailUrl alt=@od.Item.Name>
				</div>
				<div class="col-md-6">
					<p>@od.Item.Name</p>
				</div>
				<div class="col-md-6">
					<p>Quatity: @od.Amount</p>
				</div>
				<div class="col-md-6">
					<p>sub-Total: @od.Price*@od.Amount</p>
				</div>
			</div>
		</li>
		}
		<li>
			<h4>Order total: $@order.OrderTotal</h4>
		</li>
	}
	
</ul>
